{{> jumbotron-home}}
{{> home-buttons}}

<!--Scraped articles go here-->
<div class="container">
  <div class="row">
    <div class="col-md-12 articles">
      <!--scraped articles go here-->
      {{#each article}}
      <div class="card mt-5 article-card">
        <div class="card-body">
          <h5 class="card-title article-title">{{title}}</h5>
          <img class="img-fluid article-img" src="{{img}}">
          <a href='{{this.link}}' target="_blank"><button class="btn btn-primary btn-secondary ml-4 mr-2">Get the
              Recipe</button></a>
          <button class="btn btn-secondary ml-3 mr-2 saveBtn" data-id="{{_id}}">Save article</button>
          <button class="btn btn-secondary ml-3 deleteBtn" data-id="{{_id}}">Delete article</button>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>

<footer>
  <div class="container my-5 mb-0 shadow-lg p-3 mb-5 bg-white rounded">

    <span> | </span>
    <a> Jegors Jeskovs </a>
    <span> | </span>
    <a class="sources" href="https://github.com/jjeskovs/Burger">GitHub Repo</a>

    <span> | </span>


  </div>
</footer>