<!--Saved articles go here-->
{{> jumbotron-saved}}
{{> saved-buttons}}

{{#each article}}
    <div class="card mt-5">
        <div class="card-body bg-Secondary">
            <h5 class="card-title article-title">{{title}}</h5>
            <p class="card-text article-summary">{{summary}}</p>
            <img class="img-fluid article-img" src="{{img}}">
            <br>
            <a href='{{this.link}}' target="_blank"><button class="btn btn-primary btn-dark mt-4">Read the Recipe</button></a>
            <button class="btn btn-primary btn-dark ml-3 mt-4 deleteBtn" data-id="{{_id}}">Delete article</a>
            <button class="btn btn-dark ml-3 mt-4 notesBtn" data-id="{{_id}}">Leave a note</button>
        </div>
    </div>
{{/each}} 